.section-bg {
    background-color: darkturquoise;
    .wrapper {
        @extend %container;
        @include d-flex(flex,space-around,center);
        @media (max-width:600px) {
            @include d-flex (flex,space-between,flex-start);
        }
        @media (max-width:480px) {
            @include d-flex(flex,center,center);
        }
        .test1 {
            color: $color01;
            margin-left: $size01;
            margin-top: $size02;
            @include hoveranimation (all,2s,ease,2s);
            &:hover {
                color: $color02;
            }
        }
        img {
            width: 300px;
        }
    }
}
.section-bg2 {
    background-color: greenyellow;
    .wrapper-flex {
        @extend %container;
        @include d-flex(flex,space-between,center);
        p {
            @include hoveranimation (all,0.5s,linear,2s);
            &:nth-child(1) {
                color: $color03;
                font-size: $font01;
                margin-left: $size01;
                margin-top: $size02;
            }
            &:nth-child(2) {
                color: maroon;
                font-size: $font01;
            }
            &:hover {
                color:mediumblue;
            }
        }
    }
    .box {
        @include width (600px);
    }
    .test-box {
        width: 150px;
        height: 150px;
        background-color:yellow;
        @media (max-width:700px) {
            background-color:salmon;
        }
    }
    h3 {
        @extend .test-box;
        @media (max-width:700px) {
            background-color: saddlebrown;
        }
    }
}